
       .subscribe-button{
          background-color: rgb(187, 17, 17);
          color: white ;
          border: none;
          padding-top: 10px ;
         padding-right:16px ;
         padding-bottom: 10px;
         padding-left: 16px ;
          border-radius: 2px;
          cursor: pointer; 
          margin-right: 8px;
          transition: opacity 0.15s;
          vertical-align: top;
  
      }
  
      .subscribe-button:hover{
          opacity: 0.8;
      }
  
      .subscribe-button:active{
          opacity: 0.5;
      }
          .join-button{
              border-color: rgba((41, 118, 211));
              background-color: white;
              border-style: solid;
              border-width: 1px;
              color: rgb(41, 118, 211);
              padding-top: 9px ;
              padding-right:16px ;
              padding-bottom: 9px;
              padding-left: 16px ;
              cursor: pointer;
              border-radius: 10px;
              margin-right: 8px;      
              transition: background-color 0.15s;
              vertical-align: top;
              }
              .join-button:hover {
                  background-color: blue;
                  color: white;
              }
  
              .join-button:active{
                  opacity: 0.7;
              }
    
  
     
      .TWEET-BUTTON{
          background-color: rgb(73, 73, 231);
          color: white;
         padding-top: 10px ;
         padding-right:16px ;
         padding-bottom: 10px;
         padding-left: 16px ;
          border-radius: 15px;
          font-weight: bold;
          font-size: small;
          border: none;
          cursor: pointer;
          transition: box-shadow 0.15s;
          vertical-align: top;
      
  
      }
      .TWEET-BUTTON:hover{
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.151);
      }
          